{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	{{ include('home/header.html.twig') }}

	<!-- Begin page content -->
	<main class="flex-shrink-0">
		<div class="container">
			<h1 class="mt-5">Welcome to the Home Page</h1>
		</div>
	</main>

	{{ include('home/footer.html.twig') }}


{% endblock %}
